
a.button {
	color: lime;
	background-color: black;
	border-radius: 5px;
	padding: 5px;
}

.menu {
}

.menu_item {
	background-color: black;
	padding: 5px;
	margin: 0px 5px;
	color: white;
	border-radius: 5px;
}

.menu_employee_title {
	float: right;
}

.row1 {
	background-color: DeepSkyBlue;
	color: black;
}

.row2 {
	background-color: LightSkyBlue;
	color: black;
}
