body {
    background-color: #D8E2EE;
}

h1{
	color: #001433;
	text-align: center;
	text-shadow: 5px 5px 10px #0052CC;
	font-family:"Comic Sans MS";
}
h1.login {
	font-size: 250%;
	margin-top: 3%;
}

form.login {
	color: white;
	text-align: center;
	font-size: 150%;
	font-family:"Comic Sans MS";
}

.button {
   border-top: 1px solid #1e445c;
   background: #78b5de;
   background: -webkit-linear-gradient(top, #1919FF, #4D4DFF);
   background: -moz-linear-gradient(top, #1919FF, #4D4DFF);
   background: -ms-linear-gradient(top, #1919FF, #4D4DFF);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-border-radius: 12px;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   border-radius: 8px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   font-family:"Comic Sans MS";
   }
   
.button:hover {
   border-top-color: #0e16ad;
   background: #0e16ad;
   color: #f2f2f2;
   }

.button.login {
	width: 150px;
}
  
div.login{
	margin: auto auto;
	width: 350px;
	height: 250px;
    border-top: 1px solid #1e445c;
    background: #78b5de;
    background: -webkit-linear-gradient(top, #175178, #78b5de);
	background: -moz-linear-gradient(top, #175178, #78b5de);
	background: -ms-linear-gradient(top, #175178, #78b5de);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	border-radius: 8px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
	display: -webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
-webkit-box-sizing: content-box;
-moz-box-pack:center;
-moz-box-align:center;
-moz-box-sizing: content-box;
}

.menu_employee_title {
	font-family:"Trebuchet MS";
	color:#001433;
}
   
.menu_item  {
   margin: 0px 5px;
   border-top: 1px solid #f7f7f7;
   background: #65a9d7;
   background: -webkit-linear-gradient(top, #65a9d7, #0b073b);
   background: -moz-linear-gradient(top, #65a9d7, #0b073b);
   background: -ms-linear-gradient(top, #65a9d7, #0b073b);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-family:"Comic Sans MS";
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.menu_item_active {
   background: -webkit-linear-gradient(top, #0b073b, #65a9d7);
   }
   
.menu_item:hover  {
   border-top-color: #0e1133;
   background: #0e1133;
   color: #ffffff;
   }

.menu_employee_title {
	margin-top: -0.35%;
}   
.menu_employee_title {
	float: right;
}

table {
	font-family:"Trebuchet MS";
	width:100%;
	border-collapse:collapse;
}

table.create {
	width: 30%;
	margin-left:auto; 
    margin-right:auto;
}

table.create td, th {
	font-size:1em;
	border:1px solid #0000FF;
	padding:3px 7px 2px 7px;
}

table.create th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #6666FF;
	color:#ffffff;
}
table.create tr {
	background-color: #B2B2FF;
}

td, th {
	font-size: 1em;
	border: 1px solid #002E3D;
	padding: 3px 7px 2px 7px;
}
th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #004C66;
	color: #ffffff;
}
tr.row1 {
	color:#001433;
	background-color:#B2B2FF;
}
tr.row2 {
	color: #001433;
	background-color: #E6E6FF;
}

a.create {
	font-family:"Comic Sans MS";
}

.radio_kreipiniai {
	font-family:"Comic Sans MS";
	color: #001433;
	font-size: 125%;
}

.klientas_kreipiniai {
	width: 50%;
	margin-top: 1%;
	float:left;
}

.ilgas {
	width: 50%;
}

.labai_trumpas {
	width: 10%;
}

.trumpas {
	width: 20%;
}

.naujas_kreipinys_button {
	margin-left: 51%; 	
}

input[value="Naujas kreipinys"] {
	background: -webkit-linear-gradient(top, #002E3D, #33ADD6);
}

input[value="Naujas kreipinys"]:hover {
	background:#002E3D;
}

.naujas_kreipinys {
	width: 49%;
	float:right;
	font-family:"Comic Sans MS";
	color:white;
	margin-top: 1%;
}

.box_outset {
	border-style:outset;
	background-color: #004C66;
	height:85%;
	border-bottom-color: #004C66;
	border-left-color: #008AB8;
	border-right-color: #004C66;
	border-top-color: #008AB8;

}

input[name=tema], textarea{
	width:95%;
    background-color: white;
    border:solid 1px #BFBDBD;
    padding-left:10px;
    box-shadow: 2px 2px 0 #828181 inset;
    font-family:"Comic Sans MS";
}

textarea {
	height: 75%;
}

input[value="Siųsti"] {
	float: right;
	margin-top: 3.5%;
	margin-right: 5%;
	background: -webkit-linear-gradient(top, #002E3D, #33ADD6);	width:20%;
}

input[value="Siųsti"]:hover {
	background:#002E3D;
}
.pasirinkti_paslauga {
	width: 30%;
	float: left;
	margin-top: 1.5%;
}

.pasirinkti_tipa {
	width: 10%;
	float:left;
	margin-top: 1.5%;
}

div.vid {
	margin-left:5%;
}






