body {
	background-color: #E5E5E5;
}

h1, h2 {
	color: #001433;
	text-align: center;
	font-family: Trebuchet MS;
}

h2 {
	text-align: left;
}

h1.login {
	font-size: 250%;
	margin-top: 2%;
}

input[type=submit], .filter, button{
	border-top: 1px solid #1e445c;
	background: #1A566B;
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	font-family: "Trebuchet MS";
	font-weight: bold;
	cursor: pointer;
}

input[type=submit]:hover, button:hover {
	border-top-color: #0e16ad;
	background: #002E3D;
	color: #f2f2f2;
}

div.login_center {
	width: 350px;
	height: 250px;
	margin-right:auto;
	margin-left:auto;
}

div.login input[type=submit] {
	width: 150px;
	margin-top:10%;
}

form.login {
	width: 350px;
	height: 250px;
	border-top: 1px solid #1e445c;
	background: #78b5de;
	background: -webkit-linear-gradient(top, #002E3D, #33ADD6);
	background: -moz-linear-gradient(top, #002E3D, #33ADD6);
	background: -ms-linear-gradient(top, #002E3D, #33ADD6);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	font-family: "Trebuchet MS";
	text-decoration: none;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-box-sizing: content-box;
}

.menu_employee_title {
	font-family: "Trebuchet MS";
	color: #001433;
}

.menu_item{
	background: #002E3D;
	padding: 10px 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: white;
	font-size: 14px;
	font-family: "Trebuchet MS";
	text-decoration: none;
	vertical-align: middle;
	text-transform:uppercase;
	font-weight:bold;
	width:50px;
}

.menu_item_active {
	background: -webkit-linear-gradient(left, #002E3D 0%, #298AAB 50%, #002E3D 100%);
	background: -moz-linear-gradient(left, #002E3D 0%, #298AAB 50%, #002E3D 100%);
	background: -ms-linear-gradient(left, #002E3D 0%, #298AAB 50%, #002E3D 100%);
}

.menu_item:hover, .filter:hover{
	background: #00202B;
	color: #ffffff;
}

.menu{
    width:100%;
    background-color:#002E3D;
    height:28px;
    padding-top:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.menu_employee_title {
	float: right;
	color:white;
}

table {
	font-family: "Trebuchet MS";
	width: 100%;
	border-collapse: collapse;
	}

table.create {
	width: 30%;
	margin: auto;
}

table.create td, th {
	font-size: 1em;
	padding: 3px 7px 2px 7px; 
}

table.create td{
	background-color:#C9C9FF;
}

table.create th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	border:1px solid #002E3D;
	border-right:1px solid gray;
	border-left:1px solid gray;
	background-color:#002E3D;
}

table.create input[type=submit], table.create button{
	background-color:#002E3D;
}

table.create input[type=submit]:hover, table.create button:hover{
	background-color:#00202B;
}

td, th {
	font-size: 1em;
	padding: 3px 7px 2px 7px;
}

td  {
	border-right: 1px solid gray;
}

table.create td  {
	border:1px solid gray;
}

th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #004C66;
	color: #ffffff;
}

tr.row1 {
	color: #001433;
	background-color: #D1DFE3;
}

tr.row2 {
	color: #001433;
	background-color: #B2C9D1;
}

#klientas_kreipiniai {
	width: 50%;
	margin-top: 1%;
	float: left;
}

.width_50 {
	width: 50%;
}

.width_10 {
	width: 10%;
}

.width_20 {
	width: 20%;
}

#naujas_kreipinys_button {
	margin-left: 38%;
	width:12%;
}

.issue {
	width: 49%;
	float: right;
	font-family: "Trebuchet MS";
	color: white;
	margin-top: 1%;
	border-style: outset;
	background-color: #004C66;
	height: 85%;
	border-bottom-color: #004C66;
	border-left-color: #008AB8;
	border-right-color: #004C66;
	border-top-color: #008AB8;
}

.left {
	float:left;
}

.center {
	float:none;
	margin-right:auto;
	margin-left:auto;
}

.issue.center {
	width:70%;
}

.lower_2 {
	margin-top:2%;
}

.lower_5{
	margin-top:5%;
}
.right.back{
	margin-right:5%;
}
.issue_table{
	color:white;
}

textarea {
	width: 95%;
	background-color: white;
	border: solid 1px #BFBDBD;
	padding-left: 10px;
	box-shadow: 2px 2px 0 #828181 inset;
	font-family: "Trebuchet MS";
}

textarea {
	height: 60%;
}

.issue_table input[type=text]{
	width:90%;
}

#naujas_kreipinys input[type=submit] {
	float: right;
	margin-right: 5%;
}

.darker, input.darker {
	background-color: #002E3D;
}

.darker:hover, input.darker:hover {
	background: #00202B;
}

.issue.no_buttons{
	height: 75%;
}
div.vid {
	margin-left: 5%;
	margin-top: 2%;
}

.pasirinkimas {
	font-size: 90%;
	font-family: "Trebuchet MS";
	color: silver;
}

.lower_2 {
	margin-top: 2%;
}

.filter {
	background: #002E3D;
}

.filter:hover {
	background-color: #000E0E;
}

.has_filters {
	margin-top: 1.5%;
}

#import {
	font-family: "Trebuchet MS";
	color: #001433;
}

#languages {
	text-align: right;
}

table.transparent td, table.transparent th{
	border:transparent;
	background-color:transparent;
}

.right{
	float:right;
}

.tabs_menu {
    list-style:none; 
    height:2em;
    padding:0; 
    margin:0; 
    border: none;
}

.tab {
    float:left;
    margin-right:0.13em;
    display:block;
    padding:2 2em;
    text-decoration:none;
    border:0.06em solid #000;
    border-bottom:0;
    font:bold 0.88em/2em "Trebuchet MS";
    color:white;
    background-color:#002E3D;
    webkit-border-top-right-radius:0.50em;
    -webkit-border-top-left-radius:0.50em;
    -moz-border-radius-topright:0.50em;
    -moz-border-radius-topleft:0.50em;
    border-top-right-radius:0.50em;
    border-top-left-radius:0.50em;
}

.tab:hover {
    background:#00202B; 
    text-decoration:none;
}

.tab.current {
    background:#004C66; 
}

.upper {
	margin-top: -0.3%;
}

.background{
	width:100%;
	border-style: outset;
	background-color: #004C66;
	border-bottom:30px solid #004C66;
	border-top:30px solid #004C66;
	border-right:5px solid #004C66;
	border-left:5px solid #004C66;
}

.width_25{
	width:25%;
}