body {
	background-color: #E5E5E5;
}

h1, h2 {
	color: #001433;
	text-align: center;
	font-family: Trebuchet MS;
}

h2 {
	text-align: left;
}

h1.login {
	font-size: 250%;
	margin-top: 2%;
}

form.login {
	color: white;
	text-align: center;
	font-size: 150%;
	font-family: "Trebuchet MS";
}

input[type=submit], .filter{
	border-top: 1px solid #1e445c;
	background: #1A566B;
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	font-family: "Trebuchet MS";
	font-weight: bold;
	cursor: pointer;
}

input[type=submit]:hover, .action:hover {
	border-top-color: #0e16ad;
	background: #002E3D;
	color: #f2f2f2;
}

div.login input[type=submit] {
	width: 150px;
	margin-top:10%;
}

div.login {
	margin: auto auto;
	width: 350px;
	height: 250px;
	border-top: 1px solid #1e445c;
	background: #78b5de;
	background: -webkit-linear-gradient(top, #002E3D, #33ADD6);
	background: -moz-linear-gradient(top, #002E3D, #33ADD6);
	background: -ms-linear-gradient(top, #002E3D, #33ADD6);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	font-family: "Trebuchet MS";
	text-decoration: none;
	vertical-align: middle;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	-moz-box-sizing: content-box;
}

.menu_employee_title {
	font-family: "Trebuchet MS";
	color: #001433;
}

.menu_item{	background: #002E3D;
	padding: 10px 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: white;
	font-size: 14px;
	font-family: "Trebuchet MS";
	text-decoration: none;
	vertical-align: middle;
	text-transform:uppercase;
	font-weight:bold;
	width:50px;
}

.menu_item_active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#002E3D), to(#002E3D), color-stop(.5,#298AAB));
	background: -moz-linear-gradient(top, #002E3D, #33ADD6);
	background: -ms-linear-gradient(top, #002E3D, #33ADD6);
}

.menu_item:hover, .filter:hover{
	/*border-top-color: #0e1133;*/
	background: #00202B;
	color: #ffffff;
}

.menu{
    width:100%;
    background-color:#002E3D;
    height:28px;
    padding-top:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.menu_employee_title {
	float: right;
	color:white;
}

table {
	font-family: "Trebuchet MS";
	width: 100%;
	border-collapse: collapse;
	}

table.create {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

table.create td, th {
	font-size: 1em;
	padding: 3px 7px 2px 7px;
}

table.create td{
	background-color:#C9C9FF;
}

table.create th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	border:1px solid #004C66;
}

td, th {
	font-size: 1em;
	padding: 3px 7px 2px 7px;
}

td  {
	border-right: 1px solid gray;
}

table.create td  {
	border:1px solid gray;
}

th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #004C66;
	color: #ffffff;
}

tr.row1 {
	color: #001433;
	background-color: #D1DFE3;
}

tr.row2 {
	color: #001433;
	background-color: #B2C9D1;
}

#klientas_kreipiniai {
	width: 50%;
	margin-top: 1%;
	float: left;
}

.ilgas {
	width: 50%;
}

.labai_trumpas {
	width: 10%;
}

.trumpas {
	width: 20%;
}

#naujas_kreipinys_button {
	margin-left: 40.5%;
}

#naujas_kreipinys_button input[type=submit]{
	width:130px;
}

.issue {
	width: 49%;
	float: right;
	font-family: "Trebuchet MS";
	color: white;
	margin-top: 1%;
	border-style: outset;
	background-color: #004C66;
	height: 85%;
	border-bottom-color: #004C66;
	border-left-color: #008AB8;
	border-right-color: #004C66;
	border-top-color: #008AB8;
}

.left {
	float:left;
}

.issue_table{
	color:white;
}

textarea {
	width: 95%;
	background-color: white;
	border: solid 1px #BFBDBD;
	padding-left: 10px;
	box-shadow: 2px 2px 0 #828181 inset;
	font-family: "Trebuchet MS";
}

textarea {
	height: 60%;
}

input[type=text]{
	width:90%;
}

#naujas_kreipinys input[type=submit] {
	float: right;
	margin-right: 5%;
	width: 20%;
	background-color: #002E3D;
}

#naujas_kreipinys input[type=submit]:hover {
	background: #00202B;
}

div.vid {
	margin-left: 5%;
}

.pasirinkimas {
	font-size: 90%;
	font-family: "Trebuchet MS";
	color: silver;
}

#import_button {
	margin-top: 2%;
}

.filter {
	background: #002E3D;
}

.filter:hover {
	background-color: #000E0E;
}

.has_filters {
	margin-top: 1.5%;
}

#import {
	font-family: "Trebuchet MS";
	color: #001433;
}

#languages {
	text-align: right;;

}

table.transparent td, table.transparent th{
	border:transparent;
	background-color:transparent;
}

.right{
	float:right;
}

#logout {	
	float:right;
	margin-top: -0.65cm;
}
