{% extends 'base.html' %}
{% load i18n menu_item %}
{% block title %}Help-desk savitarnos svetainė{% endblock %}
{% block content %}
<div class="menu">
{% menu_item 'issues' _('Issues') 'client.views.issues' %}
{% menu_item 'services' _('Services') 'client.views.services' %}
{% menu_item 'contracts' _('Contracts') 'client.views.contracts' %}
{% menu_item 'information' _('Information') 'client.views.information' %}
<span class="menu_employee_title">
{{ user.client.title }}
{% url 'help_desk.views.logout' as logout_url %}
{% include 'common/menu_button.html' with url=logout_url title=_('Logout') %}
</span>

</div>
<hr />
{% block client_content %}
{% endblock %}
{% endblock %}