{% extends 'client/base.html' %}
{% load i18n %}
{% block content %}
<table>
	<thead>
		<tr>
			<th class="width_50">{% trans 'Contract' %}</th>
			<th>{% trans 'Start' %}</th>
			<th>{% trans 'End' %}</th>
		</tr>
	</thead>
	<tbody>
        {% for contract in contracts %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td>
                {{ contract.title }}
			</td>
			<td>
                {{ contract.start }}
			</td>
			<td>
                {{ contract.end }}
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}
