{% extends 'client/base.html' %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
    create_issue = function() {
        $('#right_container').load('create/');
    };

    show_issue = function(number) {
        $('#right_container').load('edit/' + number + '/');
    };
</script>
<div id="naujas_kreipinys_button" onclick="create_issue()">
	<input type="submit" value="{% trans 'New issue' %}"/>
</div>

<table id="klientas_kreipiniai">
	<thead>
		<tr>
			<th>{% trans 'Issue' %}</th>
			<th class="labai_trumpas">{% trans 'Type' %}</th>
			<th class="trumpas" >{% trans 'Service' %}</th>
			<th class="labai_trumpas">{% trans 'Answer' %}</th>
		</tr>
	</thead>
	<tbody>
        {% for issue in issues %}
		<tr class="{% cycle 'row1' 'row2' %}" onclick="show_issue({{ issue.id }})">
			<td>
                {{ issue.title }}
			<!--gauti kreipini-->
			</td>
			<td>
			<!--gauti kreipinio tipa-->
			</td>
			<td>
			<!--gauti paslauga-->
			</td>
			<td>
			<!--ar gautas atsakymas? pavyzdziui sudeti + ten kur atsakyta-->
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
<div id="right_container" />
{% endblock %}
