{% extends "management/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'Import a structure' %}</h2></br>

<form id="import" action="{% url 'help_desk.views.import_database' %}" method="post" enctype="multipart/form-data" onsubmit="return confirm('{% trans 'Importing a file can erase all data! Are you sure you want to continue?' %}')">
    {% csrf_token %}
    {{ import_form.as_p }}
    <input class="lower_2" type="submit" value="{% trans 'Import' %}"/>
</form>
<hr/>
<h2>{% trans 'Time deflection' %}</h2>
<form id="deflection" action="{% url 'help_desk.views.deflection' %}" method="post">
    {% csrf_token %}
    {{ deflection_form.deflection }}
    <br />
    <input class="lower_2" type="submit" value="{% trans 'Save' %}"/>
</form>
{% endblock %}
