{% extends "base.html" %}
{% load i18n menu_item %}
{% block title %}Darbuotojo vieta{% endblock %}
{% block content %}
<hr/>
<div class="menu">
{% menu_item 'main' _('Main') 'help_desk.views.management_home' %}
{% menu_item 'solve_issues' _('Solve issues') 'help_desk.views.solve_issues' 'solve_issues' %}
{% menu_item 'manage_issues' _('Manage issues') 'help_desk.views.manage_issues' 'manage_issues' %}
{% menu_item 'models' _('Manage registers') 'help_desk.views.models' 'manage_models' %}
{% menu_item 'administration' _('Administration') 'help_desk.views.administration' 'administrate' %}
<span class="menu_employee_title">
{{ user.employee.title }}
{% url 'help_desk.views.logout' as logout_url %}
{% include 'common/menu_button.html' with url=logout_url title=_('Logout') %}
</span>
</div>
<hr/>
<h1>{% block tab_title %}{% endblock %}</h1>
{% block management_content %}
{% endblock %}
{% endblock %}
