{% extends "management/base.html" %}
{% load i18n %}
{% block content %}
<form method="POST">
    <table class="create">
        {{ issue_form.as_table }}
        {% csrf_token %}
        <tr>
            <th/>
            <td>
                <input type = "submit" value="{% trans 'Create' %}"/>
            </td>
        </tr>
    </table>
</form>
<!--<div class="issue center">
	<div class="vid">
		<form method="post">
        {{ issue_form.as_p }}
        {% csrf_token %}
			<input class="right darker width_20" type = "submit" value="{% trans 'Create' %}"/>
		</form>
	</div>
</div>-->

{% endblock %}
