{% extends "management/base.html" %}
{% load i18n %}
{% block content %}
<!--BACK-->
<form method="POST">
    <table class="create">
        <tr><th>{% trans 'Client' %}:</th><td><input type="text" readonly value="{{ issue.client }}"></td></tr>
        <tr><th>{% trans 'Created' %}:</th><td><input type="text" readonly value="{{ issue.created }}"></td></tr>
        <tr><th>{% trans 'Type' %}:</th><td><input type="text" readonly value="{{ issue.get_type_display }}"></td></tr>
        <tr><th>{% trans 'Receive type' %}:</th><td><input type="text" readonly value="{{ issue.get_receive_type_display }}"></td></tr>
        <tr><th>{% trans 'Service' %}:</th><td><input type="text" readonly value="{{ issue.service }}"></td></tr>
        <tr><th>{% trans 'Status' %}:</th><td><input type="text" readonly value="{{ issue.get_status_display }}"></td></tr>

        {{ issue_form.as_table }}
        {% csrf_token %}
        <tr>
            <th/>
            <td>
                <input type="submit" value="{% trans 'Save' %}"/>

                <!-- <button> DOES NOT WORK TODO: fix -->
                <a class="action" href="?action=delete"><button>{% trans 'Delete' %}</button></a>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
