{% extends "management/base.html" %}
{% load i18n %}
{% block content %}
<form method="POST">
    <table class="create">
        {{ issue_form.as_table }}
        {% csrf_token %}
        <tr>
            <th/>
            <td>
                <input type="submit" value="{% trans 'Save' %}"/>
                <a class="action" href="?action=delete"><button>{% trans 'Delete' %}</button></a>
            </td>
        </tr>
    </table>
</form>

<!--<div class="admin issue center">
	<div class="vid">
		<form method="post">
        {{ issue_form.as_p }}
        {% csrf_token %}
			<input class="left darker width_20" type="submit" value="{% trans 'Save' %}"/>
			<a class="action" href="?action=delete"><button class="right darker">{% trans 'Delete' %}</button></a>
		</form>
	</div>
</div>-->
{% endblock %}
