{% extends "management/base.html" %}
{% block management_content %}
<!--sudeti filteriu funkcionaluma-->
<a class="filter" href="">All</a>
<a class="filter" href="">Assigned</a>
<a class="filter" href="">Unassigned</a>
<table class="has_filters" border="1">
    <tr>
		<th>Client</th>
		<th>Type</th>
		<th>Service</th>
		<th>Register</th>
		<th>End</th>
    </tr>
    {% for issue in issues %}
    <tr class="{% cycle 'row1' 'row2' %}">
		<td>
			<a href="/management/client/">
				{{ issue.client }}
			</a>
		</td>
		<td>
		<!--gauti kreipinio tipa-->
		</td>
		<td>
			<a href="">
				{{ issue.service }}
			</a>
		</td>
		<td>
		<!--gauti registravima-->
		</td>
		<td>
		<!--gauti pabaiga-->
		</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
