{% extends "management/base.html" %}
{% block tab_title %}Tvarkyti kreipinius{% endblock %}
{% block management_content %}
<!--sudeti filteriu funkcionaluma-->
<a class="filter" href="">Visi</a>
<a class="filter" href="">Priskirti</a>
<a class="filter" href="">Nepriskirti</a>
<table class="has_filters" border="1">
    <tr>
		<th>Klientas</th>
		<!--<th>Gavimo būdas</th>-->
		<th>Tipas</th>
		<th>Paslauga</th>
		<th>Registravimas</th>
		<th>Pabaigimas</th>
    </tr>
    {% for issue in issues %}
    <tr class="{% cycle 'row1' 'row2' %}">
		<td>
			<a href="/management/client/">
				{{ issue.client }}
			</a>
		</td>
		<!--<td>
			{{ issue.get_receive_type_display }}
		</td>-->
		<td>
		<!--gauti kreipinio tipa-->
		</td>
		<td>
			<a href="">
				{{ issue.service }}
			</a>
		</td>
		<td>
		<!--gauti registravima-->
		</td>
		<td>
		<!--gauti pabaiga-->
		</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
