{% extends "management/base.html" %}
{% block management_content %}
<input type="radio" name="kreipiniai" checked><a class="radio_kreipiniai">Visi</a>
<input type="radio" name="kreipiniai"><a class="radio_kreipiniai">Išspręsti</a>
<input type="radio" name="kreipiniai"><a class="radio_kreipiniai">Neišspręsti</a>
<table border="1">
	<thead>
		<tr>
			<th>Klientas</th>
			<!--<th>Gavimo būdas</th>-->
			<th>Tipas</th>
			<th>Paslauga</th>
			<th>Registravimas</th>
			<th>Pabaigimas</th>
		</tr>
	</thead>
	<tbody>
    {% for request in requests %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td>
				<a href="/management/client/">
					{{ request.client }}
				</a>
			</td>
			<!--<td>
				{{ request.get_receive_type_display }}
			</td>-->
			<td>
			<!--gauti kreipinio tipa-->
			</td>
			<td>
				<a href="">
					{{ request.service }}
				</a>
			</td>
			<td>
			<!--gauti registravima-->
			</td>
			<td>
			<!--gauti pabaiga-->
			</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
{% endblock %}
