{% extends "management/base.html" %}
{% block tab_title %}Spręsti kreipinius{% endblock %}
{% block management_content %}
<a href="?filter=all">Visi</a>
<a href="?filter=solved">Išspręsti</a>
<a href="?filter=open">Neišspręsti</a>
<table border="1">
	<thead>
		<tr>
			<th>Klientas</th>
			<!--<th>Gavimo būdas</th>-->
			<th>Tipas</th>
			<th>Paslauga</th>
			<th>Registravimas</th>
			<th>Pabaigimas</th>
		</tr>
	</thead>
	<tbody>
    {% for issue in issues %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td>
				<a href="/management/client/">
					{{ issue.client }}
				</a>
			</td>
			<!--<td>
				{{ issue.get_receive_type_display }}
			</td>-->
			<td>
			<!--gauti kreipinio tipa-->
			</td>
			<td>
				<a href="">
					{{ issue.service }}
				</a>
			</td>
			<td>
			<!--gauti registravima-->
			</td>
			<td>
			<!--gauti pabaiga-->
			</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
{% endblock %}
