{% extends "management/models/base.html" %}
{% load i18n issue_history %}
{% block content %}
<!--BACK-->
<div class="issue center">
	<div class="vid">
		<table class="transparent issue_table">
			<tr>
				<th class="labai_trumpas"></th>
				<th></th>
				<th class="trumpas"></th>
				<th></th>
			</tr>
			<tr>
				<td>{% trans 'Title' %}:</td>
				<td><input type="text" readonly value="{{ issue.title }}"></td>
				<td>{% trans 'Client' %}:</td>
				<td><input type="text" readonly value="{{ issue.client }}"></td>
			</tr>
			<tr>
				<td>{% trans 'Service' %}:</td>
				<td><input type="text" readonly value="{{ issue.service }}"></td>
				<td>{% trans 'Receive type' %}:</td>
				<td><input type="text" readonly value="{{ issue.get_receive_type_display }}"></td>
			</tr>
			<tr>
				<td>{% trans 'Type' %}:</td>
				<td><input type="text" readonly value="{{ issue.get_type_display }}"></td>
				<td>{% trans 'Created' %}:</td>
				<td><input type="text" readonly value="{{ issue.created }}"></td>
			</tr>
		</table>
		</p>
		{% trans 'Description' %}:
		<textarea readonly>{{ issue.description }}</textarea>

        {% trans 'Answer' %}:
        <form action="" method="POST">
            {% csrf_token %}
            <textarea name="answer">{{ comment }}</textarea>
			<div class="lower_2">
            <button class="darker width_20" name="solve">{% trans 'Solve' %}</button>
			<div class="right back">
            <button class="darker" name="reject">{% trans 'Reject' %}</button>
            <button class="darker" name="return">{% trans 'Return' %}</button>
			</div>
			</div>
        </form>
	</div>
</div>
<div class="solve_issues_history center">{% issue_history issue %}</div>

{% endblock %}
