{% extends 'client/base.html' %}
{% load i18n %}
{% block content %}
<a href="{% url 'client.views.create_issue' %}">
    <button id="naujas_kreipinys_button">{% trans 'New issue' %}</button>
</a>
</br>
<table id="klientas_kreipiniai">
	<thead>
		<tr>
			<th>{% trans 'Issue' %}</th>
			<th class="width_10">{% trans 'Type' %}</th>
			<th class="width_25" >{% trans 'Service' %}</th>
			<th class="width_10">{% trans 'Answer' %}</th>
		</tr>
	</thead>
	<tbody>
        {% for issue in issues %}
        <tr class="{% cycle 'row1' 'row2' %}" onclick="show_issue({{ issue.id }})">
			<td>
                <a href="{% url 'client.views.edit_issue' issue.id %}">
                {{ issue.title }}
                </a>
			</td>
			<td>
                {{ issue.get_type_display }}
			</td>
			<td>
                {{ issue.service }}
			</td>
			<td>
			<!--ar gautas atsakymas? pavyzdziui sudeti + ten kur atsakyta-->
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
<div id="right_container">
{% block right %}
{% endblock %}
</div>
{% endblock %}
