{% extends 'client/issue/base.html' %}
{% load i18n %}
{% block right %}

<div id="naujas_kreipinys_edit">
{% if latestAssign and issue.status != 'in progress' %}
<div class="issue answer">
	<div class="vid">
		<a>{% trans 'Answer' %}</a>
		<textarea readonly>{{ latestAssign.comment }}</textarea>

        {% if issue.status == 'solved' %}
		<a>{% trans 'Rating' %}</a>
        <form id="rating" action="" method="post">
            {% csrf_token %}
            {{ rating_form.rating }}
            <input class="lower_2" type="submit" value="{% trans 'Rate' %}"/>
		</form>
		{% endif %}
	</div>
</div>
{% endif %}
<div class="issue no_buttons">
    <div class="vid">
        <table class="transparent issue_table">
            <tr>
                <th class="labai_trumpas"></th>
                <th></th>
                <th class="trumpas"></th>
                <th></th>
            </tr>

            <tr>
                <td>{% trans 'Title' %}:</td>
                <td><input type="text" readonly value="{{ issue.title }}"></td>
                <td>{% trans 'Type' %}:</td>
                <td><input type="text" readonly value="{{ issue.get_type_display }}"></td>
            </tr>
            <tr>
                <td>{% trans 'Created' %}:</td>
                <td><input type="text" readonly value="{{ issue.created }}"></td>
                <td>{% trans 'Service' %}:</td>
                <td><input type="text" readonly value="{{ issue.service }}"></td>
            </tr>
        </table>
        </p>
        {% trans 'Description' %}:
        <textarea readonly>{{ issue.description }}</textarea>
       <!-- {% if issue.current and issue.status != 'in progress' %}<textarea readonly>{{ issue.current.comment }}</textarea>{% endif %}

        {% if issue.status == 'solved' %}
        <form id="rating" action="" method="post">
            {% csrf_token %}
            {{ rating_form.rating }}
            <input class="lower_2" type="submit" value="{% trans 'Save' %}"/>
        </form>
        {% endif %}-->
    </div>
</div>
</div>
{% endblock %}
