{% load i18n %}
<table>
<thead>
{% for name, title in fields %}
<th>{{ title }}</th>
{% endfor %}
<th></th>
</thead>
<tbody>
{% for id, object in objects %}
<tr class="{% cycle 'row1' 'row2' %}">
    {% for field in object %}
        <td>{{ field|safe }}</td>
    {% endfor %}
        <td>
            <a href="{% url 'help_desk.views.model_edit' model id %}"><button>{% trans 'Edit' %}</button></a>
            <a href="{% url 'help_desk.views.model_remove' model id %}"><button>{% trans 'Remove' %}</button></a>
        </td>
</tr>
{% endfor %}
</tbody>
</table>
