{% load i18n %}
<table>
<thead>
{% for name, title, sortKey in fields %}
<th>
	<div class="left">{{ title }}</div>
	<div class="rodykles">
		<a href="?sort={{ sortKey }}"><div class="arrow-up"></div></a>
		<div class="padding_5"></div>
		<a href="?sort=-{{ sortKey }}"><div class="arrow-down"></div></a>
	</div>
</th>
{% endfor %}
<th></th>
</thead>
<tbody>
{% for id, object in objects %}
<tr class="{% cycle 'row1' 'row2' %}">
    {% for field in object %}
        <td>{{ field|safe }}</td>
    {% endfor %}
        <td class="width_15">
            <a href="{% url 'help_desk.views.model_edit' model id %}"><button>{% trans 'Edit' %}</button></a>
            <a href="{% url 'help_desk.views.model_remove' model id %}"><button>{% trans 'Remove' %}</button></a>
        </td>
</tr>
{% endfor %}
</tbody>
</table>
