{% extends 'common/skeleton.html' %}
{% load i18n menu_item time %}
{% get_current_language as LANGUAGE_CODE %}
{% block javascript %}
<script src="/static/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/date_{{ LANGUAGE_CODE }}.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block title %}Help-desk savitarnos svetainė{% endblock %}
{% block body %}
<div class="menu">
	{% block menu %}
	{% endblock %}
	<div class="right">
		{% url 'common.views.logout' as logout_url %}
		{% include 'common/menu_button.html' with url=logout_url title=_('Logout') %}
	</div>
	<div class="right">
		{% include 'common/languages.html' %}
	</div>
	<div class="menu_employee_title">
        <a href="{% url 'common.views.profile' %}">
		{{ user.get_full_name }}
        </a>
		{% time %}
	</div>
</div>
<hr />
{% block content %}
{% endblock %}
{% endblock %}
